body{
    background-color: aqua;
}

/* stylyzing the header */
.header{
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    border-bottom: 5px solid #f1f1f1;
    background-color: yellow;
}

/* stylizing the cards for the intro and the questions
by default the cards are hidden and the intro is shown
*/
.card{
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 5px solid #f1f1f1;
    display: none;
    margin-top: 15%;
    margin-bottom: 15%;
    font-size: 35px;
    background-color: yellow;
}

/* stylizing the intro */
#intro{
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 5px solid #f1f1f1;
    display: block;
    background-color: yellow;
}

/* setting the start, answer, and submit score buttons*/
.answer, #start, #submitScore, #goBackButton, #clearButton{
    font-size: 25px;
    background-color: blueviolet;
    margin: 0;
}
